.Home-title {
  margin-bottom: 30px;
  font-size: 20px;
}

.Home-authenticate {
  margin-bottom: 20px;
  font-size: 16px;
}

.UserHeader {
  padding: 10px;
  margin-bottom: 10px;
  background-color: lightgrey;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.flash-error {
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
}
